body {
    background-color: #000;
    color: #fff;
}
.etiqueta {
    background-color: #4c4747;
    margin: 1%;
    margin-top: 10%;
}
.titulo {
    color: darkorange;
}
.reserva {
    margin-top: 1%;
}
#head {
    margin-bottom:5%;
}
footer {
    padding-bottom: 1%;
    background-color: #1f1c1c;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #c9c6c6;
}
.footer_col {
    margin-top: 0.5%;
}